:root {
    --header-offset: 95px;
}

html {
    scroll-behavior: smooth;
    user-select: none;
}

[id] {
    scroll-margin-top: var(--header-offset);
}

#contato {
    scroll-margin-top: 0;
}

#nssapp {
    scroll-margin-top: -95px;
}

body {
    margin: 0;
    top: 0;
    padding: 0;
    font-family: 'Poppins', serif;
    font-weight: 100;
    width: 100%;
    overflow-x: hidden;
}

.site-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 5.5rem;
    background-color: white;
    opacity: 0.9;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 11vw;
    box-sizing: border-box;
}

nav>.nav-list {
    display: flex;
    gap: 3.5vw;
    font-size: 1.1rem;
    color: #000;
    font-weight: lighter;
    margin-top: 1.2rem;
    list-style: none;
}

nav>.nav-list>li>a {
    cursor: pointer;
    width: max-content;
    position: relative;
}

.menu-btn {
    font-size: 28px;
    cursor: pointer;
    display: none;
    user-select: none;
}

#menu-toggle {
    display: none;
}

.logo {
    width: 4rem;
    height: 4rem;
    color: #043253;
    font-size: 1.46rem;
    font-weight: 500px;
    display: flex;
    margin-left: -3vw;
    margin-top: -0.5vh;
    gap: 1vw;
}

.logo>span {
    margin-top: 1.2rem;
    font-weight: lighter;
}

a {
    color: #000;
    text-decoration: none;
}

nav>.nav-list>li>a::before {
    content: "";
    position: absolute;
    left: -10%;
    bottom: 0;
    height: 0.2rem;
    width: 120%;
    background: #0CC0DF;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.5s ease;
}

nav>.nav-list>li>a:hover::after {
    opacity: 0.4;
    transform: scaleX(0.86);
    content: "";
    position: absolute;
    left: -10%;
    bottom: 0;
    height: 0.2rem;
    width: 120%;
    background: darkgray;
}

body:has(#home:target) nav>.nav-list>li:has(>a[href="#home"])>a::before {
    transform: scaleX(0.86);
}

body:has(#home:target) nav>.nav-list>li:has(>a[href="#home"])>a::after {
    opacity: 0;
}

body:has(#funcionalidades:target) nav>.nav-list>li:has(>a[href="#funcionalidades"])>a::before {
    transform: scaleX(0.86);
}

body:has(#funcionalidades:target) nav>.nav-list>li:has(>a[href="#funcionalidades"])>a::after {
    opacity: 0;
}

body:has(#planos:target) nav>.nav-list>li:has(>a[href="#planos"])>a::before {
    transform: scaleX(0.86);
}

body:has(#planos:target) nav>.nav-list>li:has(>a[href="#planos"])>a::after {
    opacity: 0;
}

body:has(#contato:target) nav>.nav-list>li:has(>a[href="#contato"])>a::before {
    transform: scaleX(0.86);
}

body:has(#contato:target) nav>.nav-list>li:has(>a[href="#contato"])>a::after {
    opacity: 0;
}

#home {
    display: flex;
    justify-content: center;
}

#Bvindo {
    margin-top: 33vh;
    width: 500px;
    line-height: 85%;
    position: relative;
    font-size: 5.6rem;
    color: #000;
    text-align: left;
    font-weight: lighter;
}

.zetaHighlight {
    font-weight: 500;
    color: #043253;
}

.description {
    width: 600px;
    position: relative;
    font-size: 1.2rem;
    color: #000;
    text-align: left;
    display: inline-block;
    font-weight: lighter;
    margin-top: -1vh;
}

.himage {
    margin-top: 150px;
    height: 32rem;
}

.buttons {
    display: flex;
    margin-top: 0.9vh;
    gap: 1.9vw;
}

.buttons>button>a {
    font-size: 0.9rem;
    align-items: center;
    vertical-align: middle;
}

#btn1Cover {
    color: #f6f7ff;
    background-color: #043253;
    border-radius: 1.5em;
    height: 4.3rem;
    width: 12rem;
    transition: 0.5s;
    cursor: pointer;
}

#btn1Cover:hover {
    background-color: #0077B6;
    border: #0077B6;
}


.btn1 {
    text-align: center;
    text-decoration: none;
    color: #f6f7ff;
}


#btn2Cover {
    margin-left: 0.15vw;
    border-radius: 1.5em;
    height: 4.3rem;
    border: 2px solid #18a4e1;
    width: 12rem;
    background-color: white;
    color: #18a4e1;
}

#btn2Cover:hover {
    cursor: pointer;
}

.btn2 {
    text-align: center;
    text-decoration: none;
    color: #18a4e1;
}

@media (max-width: 1220px) {
    .description {
        width: 50vw;
    }
}

@media (max-width: 1120px) {
    #home {
        gap: -15%;
    }

    .buttons {
        top: 1vh;
    }
}

#nssapp {
    display: flex;
    justify-content: center;
}

#Nssaplicat {
    margin-left: 1.7vw;
    width: 620px;
    font-size: 4.7rem;
    color: #043253;
    text-align: left;
    font-weight: lighter;
    margin-top: 50vh;
}

#nssappdescription {
    margin-left: 1.7vw;
    width: 650px;
    font-size: 1.8rem;
    color: #000;
    font-weight: lighter;
    margin-top: -5vh;
}

.celular {
    margin-left: 2.8vw;
    height: 40rem;
    margin-top: 33vh;
}

.patinhas {
    margin-left: -15%;
    margin-top: -21vh;
    width: 19rem;
}

@media (max-width: 1490px) {
    .patinhas {
        margin-left: -20%;
    }

    .celular {
        margin-left: 1%;
    }
}

@media (max-width: 1400px) {
    .patinhas {
        margin-left: -15%;
    }
}

@media (max-width: 1310px) {
    .patinhas {
        margin-left: -10%;
    }
}

@media (max-width: 1100px) {
    #nssapp {
        margin-top: -20%;
    }
}

#funcionalidades {
    width: 100%;
}

#Nssserv {
    transform: translateX(0%);
    width: 100%;
    font-size: 3.7rem;
    color: #043253;
    text-align: center;
    font-weight: lighter;
    margin-top: 10vw;
}

.funcionalis {
    border: #18a4e1 0.25rem solid;
    border-radius: 1.5rem;
    width: 17.5rem;
    height: 9.3rem;
    padding: 0.7vw;
    padding-left: 1.8vw;
    margin-bottom: 6.5vh;
    margin-left: -1vw;
}

.iconesF {
    position: relative;
    top: -5.5vh;
    width: 3.7rem;
}

.funcontent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 10%;
    margin-top: 8vh;
}

.fserv {
    position: relative;
    top: -7vh;
    color: #18a4e1;
    font-weight: 300;
    font-size: 1.2rem;
}

.fdescrip {
    position: relative;
    font-weight: lighter;
    top: -9vh;
    font-size: 1rem;
}

.imagem1 {
    position: relative;
    margin-left: -0.6vw;
    top: -99vh;
    width: 11.5rem;
}

.imagem2 {
    position: relative;
    margin-left: 89.7vw;
    top: -111vh;
    width: 11.5rem;
}

#mission {
    margin-top: -600px;
    margin-bottom: 600px;
    scroll-margin-top: 0;
}

.missionContent>h1 {
    width: 800px;
    font-size: 90px;
    color: rgb(4, 50, 83);
    text-align: left;
    display: inline-block;
    font-weight: lighter;
    margin-left: 10.2vw;
    margin-top: 200px;
    margin-bottom: 2px;
}

.missionContent>p {
    width: 760px;
    font-size: 25px;
    color: rgb(4, 50, 83);
    text-align: left;
    display: inline-block;
    font-weight: lighter;
    margin-left: 10.2vw;
    margin-top: 20px;
    margin-bottom: 200px;
}

.missionImg {
    margin-left: 60vw;
    margin-top: -500px;
}

.pataMission {
    margin-left: 72vw;
    margin-top: -180px;
    height: 3.5rem;
}

.pataMissao {
    margin-left: 4vw;
    margin-top: -290px;
}

@media (max-width: 1350px) {
    .missionImg {
        opacity: 0;
    }
}

@media (max-width: 900px) {
    .missionContent>h1 {
        justify-content: center;
        width: 82vw;
    }

    .missionContent>p {
        justify-content: center;
        width: 80vw;
    }

    .pataMissao {
        margin-left: -1vw;
    }
}

.clientesContent>h1 {
    width: 800px;
    font-size: 90px;
    color: rgb(4, 50, 83);
    text-align: left;
    display: inline-block;
    font-weight: lighter;
    margin-left: 9.2vw;
    margin-top: 100px;
    margin-bottom: 2px;
}

.clientesContent>p {
    width: 52vw;
    font-size: 25px;
    color: rgb(4, 50, 83);
    text-align: left;
    display: inline-block;
    font-weight: lighter;
    margin-left: 9.2vw;
}

.pataCliente {
    margin-left: 2vw;
    margin-top: -470px;
}

.logoCliente {
    margin-left: 65vw;
    margin-top: -100px;
}

@media (max-width: 1563px) {
    .pataCliente {
        margin-top: -520px;
    }
}

@media (max-width: 1350px) {
    #clientes {
        justify-content: center;
    }

    .pataCliente {
        position: relative;
        top: -5vh;
    }
}

@media (max-width: 1100px) {
    .clientesContent {
        margin-top: -100px;
    }
}

#Sobrenos {
    width: 100%;
    font-size: 5rem;
    color: rgb(4, 50, 83);
    text-align: center;
    font-weight: lighter;
    margin-top: 25vh;
}

.aboutUsContent {
    display: flex;
    justify-content: center;
    gap: 5vw;
}

.descriptionUs {
    width: 650px;
    height: max-content;
    font-size: 1.55rem;
    color: rgb(4, 50, 83);
    text-align: left;
    display: inline-block;
    font-weight: lighter;
    margin-top: 10vh;
}

.foto {
    width: 500px;
    height: 400px;
    border-radius: 50px;
}

@media (max-width: 1260px) {
    .aboutUsContent {
        margin-left: 9.2vw;
        margin-right: 9.2vw;
    }

    .descriptionUs {
        margin-top: 0;
    }

}

@media (max-width: 1100px) {
    .aboutUsContent {
        flex-direction: column-reverse;
        align-items: center;
    }
}

.nssEquip {
    width: 100%;
    font-size: 3.8rem;
    color: #043253;
    text-align: center;
    font-weight: lighter;
    margin-top: 40vh;
}

.subtitulo {
    text-align: center;
    margin-top: -4vh;
    width: 100%;
    color: #0CC0DF;
    font-size: 1.3rem;
}

#contato {
    width: 100%;
}

.equipeContent {
    width: 100%;
}

.patasboi1 {
    position: relative;
    height: 17.5rem;
    top: -120vh;
    z-index: 1;
}

.patasboi2 {
    position: relative;
    height: 15.5rem;
    margin-left: 26vw;
    top: -120vh;
    z-index: 1;
}

.patasboi3 {
    position: relative;
    margin-left: 91.5vw;
    top: -170vh;
    margin-bottom: 30vh;
    z-index: 1;
}

.patasboi4 {
    position: relative;
    margin-left: 90.5vw;
    margin-top: -5vh;
    z-index: 1;
}

.col1 {
    height: 24.9rem;
}

.col2 {
    margin-left: 20vw;
    margin-bottom: 13.5vh;
    height: 18.3rem;
}

.Integrantesprimeiroano,
.Integrantessegundoano {
    justify-content: center;
    font-size: 1.3rem;
    color: #000;
    text-align: left;
    display: flex;
    font-weight: lighter;
    margin: 0 auto;
    margin-top: -1vh;
    z-index: 100;
}

.Integrantessegundoano {
    gap: 8vw;
}

.coluna1,
.coluna2 {
    display: grid;
}

.text1 {
    position: relative;
    top: -55.8vh;
    margin-left: 6vw;
    grid-template-columns: 1fr;
    margin-bottom: 1.8rem;
}

.text2 {
    grid-template-columns: 1fr;
    position: relative;
    top: -63.8vh;
    margin-left: 26vw;
}

.Integ5 {
    margin-bottom: -2.8rem;
}

.Integ7 {
    margin-top: -2.8rem;
}

.nome {
    width: max-content;
    margin-left: 2vw;
    font-weight: 200;
    font-size: 1.1rem;
    color: #0077B6;
    transition: 0.4s;
    cursor: pointer;
}

.nome:hover {
    color: #0CC0DF;
}

.descInt {
    width: max-content;
    margin-left: 2vw;
    font-weight: lighter;
    font-size: 0.7rem;
}

.e2 {
    margin-top: -180vh;
}

#planos {
    width: 100%;
    margin-top: -180vh;
}

.check {
    margin-top: -0.6vh;
    display: flex;
    align-items: center;
    gap: 0.6vw;
    margin-left: 0.7vw;
}

.check>img {
    width: 1.3rem;
    height: 1.3rem;
}

#tbpreco {
    margin-top: 35vh;
    text-align: center;
    font-weight: lighter;
    font-size: 1.25rem;
}

#escPlano {
    text-align: center;
    color: #043253;
    font-weight: lighter;
    font-size: 3.1rem;
    margin-top: -4vh;
}

#planosAll {
    margin: -2.5vh auto 35vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    width: 100%;
    max-width: 1100px;
    padding: 0 2rem;
    box-sizing: border-box;
    justify-content: center;
    justify-items: center;
    align-items: start;
}

.plano {
    border: #0077B6 0.1rem solid;
    border-radius: 50px;
    width: 19rem;
    height: 30rem;
    transition: 0.8s;
    cursor: pointer;
}

.plano:hover {
    transform: scale(1.05);
    border: #0CC0DF 0.1rem solid;
}

.plano>h4,
h1 {
    text-align: center;
}

.plano>h4 {
    margin-top: 5vh;
    font-weight: lighter;
    color: #043253;
}

.plano>h1 {
    font-weight: 400;
    margin-top: -3.5vh;
    color: #0077B6;
    font-size: 3.4rem;
}

.checks {
    margin-top: -3.7vh;
}

.planoAzul {
    width: 19rem;
    height: 30rem;
    border-radius: 50px;
    background-color: #18a4e1;
    transition: 0.8s;
    cursor: pointer;
}

.planoAzul:hover {
    transform: scale(1.05);
}

.planoAzul>h4,
h1 {
    text-align: center;
}

.plano>p {
    margin-left: 1.4vw;
    font-size: 0.9rem;
    align-items: center;
}

.planoAzul>h4,
h1 {
    text-align: center;
}

.planoAzul>img {
    vertical-align: middle;
}

.planoAzul>h4 {
    margin-top: 5vh;
    font-weight: lighter;
    color: black;
}

.planoAzul>h1 {
    font-weight: 400;
    margin-top: -3.5vh;
    color: white;
    font-size: 3.4rem;
}

.planoAzul>p {
    color: white;
    margin-left: 1.4vw;
    font-size: 0.9rem;
    align-items: center;
}

#especific {
    font-size: 0.75rem;
    color: #0CC0DF;
    text-align: center;
    margin-top: -7vh;
    margin-left: -0.3vw;
}

.btSelecAzul,
.btSelecAzul1 {
    margin-top: 2.5vh;
    margin-left: 3.3vw;
    width: 12.5rem;
    background-color: #18a4e1;
    border: #18a4e1 0.1rem solid;
    color: white;
    border-radius: 25px;
    height: 3rem;
    font-size: 1.1rem;
    font-weight: lighter;
    font-family: 'Poppins', serif;
    transition: 0.5s;
    cursor: pointer;
}

.btSelecAzul1:hover,
.btSelecAzul:hover {
    background-color: #043253;
    border-color: #043253;
}

.btSelecAzul1 {
    margin-top: 10vh;
}

#btBrancoSelec {
    margin-top: 10vh;
    margin-left: 3.3vw;
    width: 12.5rem;
    background-color: white;
    border: white 0.1rem solid;
    color: #0077B6;
    border-radius: 25px;
    height: 3rem;
    font-size: 1.1rem;
    font-weight: lighter;
    font-family: 'Poppins', serif;
    transition: 0.5s;
    cursor: pointer;
}

#btBrancoSelec:hover {
    background-color: #bababa;
    border-color: #bababa;
}

.img1 {
    position: relative;
    margin-left: 86vw;
    top: -110vh;
}

.img2 {
    position: relative;
    margin-left: -1vw;
    top: -127vh;
}

#contato {
    margin-top: -120vh;
    display: flex;
    gap: 1vw;
}

#entContat {
    width: 800px;
    font-size: 4.65rem;
    color: #043253;
    text-align: left;
    display: inline-block;
    font-weight: lighter;
    margin-left: 9.2vw;
    margin-top: 20vh;
    margin-bottom: 5vh;
}

.descriptioncontact {
    padding-top: 2px;
    width: 700px;
    font-size: 1.6rem;
    color: #000;
    text-align: left;
    font-weight: lighter;
    margin-left: 9.2vw;
    margin-top: 0.3vh;
    margin-bottom: 10vh;
}

.contactUs {
    height: 90;
    position: relative;
    font-size: 1.5rem;
    text-align: left;
    font-weight: lighter;
    margin-left: 9.2vw;
    margin-top: 0.5vh;
}

.contactUs>div>label {
    padding-top: 0.85%;
}

.main {
    max-width: 100%;
}

input {
    width: 100%;
    border: 0;
    padding: 10px;
    font-size: 1.15rem;
    color: #333;
    outline: none;
    font-family: 'Poppins', serif;
    background-color: transparent;
}

.IconsContato {
    width: 750px;
    height: 90;
    position: relative;
    font-size: 1.2rem;
    text-align: left;
    font-weight: lighter;
    margin-left: 9.2vw;
    margin-top: 7.5vh;
    position: absolute;
    display: flex;
    align-items: baseline;
    margin-bottom: 25vh;
    gap: 4.2vw;
}

#Enviar {
    background-color: #0077B6;
    color: white;
    padding: 18px 60px 18px 60px;
    border-radius: 40px;
    border: #0077B6 solid;
    font-size: 1.4rem;
    font-weight: lighter;
    font-style: initial;
    font-family: 'Poppins', serif;
    letter-spacing: 2px;
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 4vh;
}

#Enviar:hover {
    background-color: #043253;
    border: #043253 solid;
    color: rgb(227, 226, 226);
}

.imgBoi {
    margin-top: 150px;
    height: 32rem;
    margin-left: -5vw;
}

footer {
    margin-top: 25vh;
    position: relative;
    bottom: 0;
    background-color: #043253;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 400px;
    padding: 0 10vw;
}

#logoF {
    margin-top: 30px;
    margin-left: 5px;
    height: 180px;
    width: 180px;
}

.iconesFooter>img {
    width: 44px;
    height: 40px;
    margin-right: 20px;
}

.iconesFooter>a>img {
    width: 44px;
    height: 40px;
    margin-right: 20px;
}

.linksRapidos {
    margin-left: -10px;
}

#Rapidolink,
#contatoFooter {
    color: white;
    font-weight: 500;
    font-size: 20px;
    margin-top: 70px;
}

.linksRapidos>ul {
    margin-left: -40px;
    list-style-type: none;
}

.linksRapidos>ul>li {
    margin-bottom: 8px;
}

.linksRapidos>ul>li>a {
    color: #D3DDE6;
    text-decoration: underline;
}

#Rapidolink,
#contatoFooter {
    color: white;
    font-weight: 500;
    font-size: 20px;
    margin-top: 70px;
}

.email {
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
}

.localizacao {
    padding-left: 2px;
    display: flex;
    gap: 12px;
    align-items: center;
    color: white;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 40px;
    right: 10px;
    width: 60px;
    height: 60px;
    background-color: white;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.415);
    border-radius: 50px;
    text-decoration: none;
    margin-right: 80px;
    z-index: 100;
}

.btn>img {
    width: 30px;
    height: 35px;
}

.btn:hover {
    background-color: rgb(239, 239, 239);
}

@media (max-width: 1340px) {
    .site-header {
        padding: 0 12.8vw;
    }

    nav>.nav-list {
        gap: 4vw;
        font-size: 1.3rem;
        margin-top: 2.3rem;
        margin-right: 10%;
    }

    nav>.nav-list>li>a::before,
    nav>.nav-list>li>a:hover::after {
        height: 0.27rem;
    }

    .logo {
        width: 4.7rem;
        height: 4.7rem;
        font-size: 1.7rem;
        margin-top: 1vh;
        margin-left: -3.5vw;
    }

    .logo>span {
        margin-top: 1.5rem;
    }

    #home {
        gap: 5%;
        margin-top: -3%;
    }

    #Bvindo {
        font-size: 7rem;
        width: 680px;
    }

    .description {
        font-size: 1.6rem;
        margin-top: -5%;
    }

    #btn1Cover,
    #btn2Cover {
        height: 5rem;
        width: 15rem;
        font-size: 1.2rem;
    }

    .himage {
        width: 40%;
        height: 40%;
        margin-left: -6%;
        margin-top: 13%;
    }

    #funcionalidades {
        scroll-margin-top: 180px;
    }

    .imagem1 {
        top: -93vh;
        margin-left: -3vw;
    }

    .imagem2 {
        top: -105vh;
        margin-left: 105vw;
    }

    #mission {
        scroll-margin-top: var(--header-offset);
    }

    .missionImg {
        opacity: 1;
        margin-left: 75vw;
    }

    .pataMission {
        margin-left: 90vw;
    }

    #clientes {
        margin-top: -5%;
        scroll-margin-top: 170px;
    }

    .pataCliente {
        top: 1%;
    }

    .clientesContent>p {
        width: 50%;
    }

    .logoCliente {
        margin-left: 73vw;
        margin-top: -5%;
    }

    #aboutUs {
        margin-top: 10%;
        scroll-margin-top: 170px;
    }

    .aboutUsContent {
        margin-left: -4vw;
    }

    .e {
        margin-top: -5%;
    }

    .Integrantesprimeiroano {
        gap: 0;
        margin-left: -21vw;
    }

    .Integrantesprimeiroano>div>div>.text1 {
        margin-bottom: 7%;
        top: -68.5vh;
        margin-left: 9vw;
    }

    .col1 {
        height: 32rem;
    }

    .coluna1 {
        margin-top: 2%;
    }

    .coluna2 {
        margin-top: 2%;
    }

    .col2 {
        height: 23.3rem;
    }

    .text1 {
        margin-left: 40%;
        top: -68.5vh;
        margin-bottom: 14%;
    }

    .text1>h3 {
        font-size: 1.5rem;
        margin-bottom: -1%;
    }

    .text1>p {
        font-size: 1.05rem;
    }

    .patasboi2 {
        margin-left: 35vw;
        margin-top: -40%;
    }

    .patasboi3 {
        margin-left: 90%;
        margin-top: 20%;
    }

    .e2 {
        margin-top: -1825px;
    }

    .Integrantessegundoano {
        gap: 19%;
        margin-left: -20vw;
    }

    .text2 {
        margin-left: 100%;
        top: -80.8vh;
        margin-bottom: -19%;
    }

    .text2>h3 {
        font-size: 1.5rem;
        margin-bottom: -1%;
    }

    .text2>p {
        font-size: 1.05rem;
    }

    #planos {
        scroll-margin-top: 170px;
        margin-top: -115%;
    }

    #planosAll {
        gap: 10%;
    }

    .plano {
        width: 110%;
    }

    .plano:nth-last-child(1) {
        padding-top: 1%;
        padding-bottom: -0.1%;
    }

    .planoAzul {
        width: 115%;
    }

    .btSelecAzul,
    .btSelecAzul1 {
        margin-left: 16.9%;
    }

    #btBrancoSelec {
        margin-left: 17.5%;
    }

    .img1 {
        margin-left: 86%;
    }

    #contato {
        margin-top: -55%;
        scroll-margin-top: 110px;
        display: flex;
    }

    #entContat {
        width: max-content;
    }

    .IconsContato {
        gap: 9%;
    }

    .imgBoi {
        margin-top: 12%;
        margin-left: 5%;
    }

    footer {
        margin-top: 5%;
        height: max-content;
    }

    #logoF {
        width: 15rem;
        height: 15rem;
    }

    .imagFooter {
        margin-top: 10%;
    }

    .iconesFooter {
        margin-left: 4%;
        margin-top: -6%;
    }

    .iconesFooter>img {
        width: 44px;
        height: 70px;
        margin-right: 20px;
    }

    .iconesFooter>a>img {
        width: 44px;
        height: 70px;
        margin-right: 20px;
    }

    .linksRapidos>ul>li,
    #Rapidolink,
    #contatoFooter,
    .contatoFooter>div {
        font-size: 1.5rem;
    }

    .email>img,
    .localizacao>img {
        height: 1.5rem;
    }

    .btn {
        width: 5rem;
        height: 5rem;
    }

    .btn>img {
        width: 3rem;
        height: 3rem;
    }
}

@media (max-width: 1100px) {
    #Bvindo {
        margin-left: 9.2vw;
    }

    .himage {
        width: 35rem;
        margin-left: -20vw;
    }

    .buttons {
        position: relative;
        bottom: 5vw;
    }

    #nssapp {
        flex-direction: column;
    }

    .celular {
        width: 35rem;
        margin: 0 auto;
    }

    .funcontent {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 13%;
        row-gap: 1vh;
        column-gap: 1vw;
    }

    .imagem1 {
        margin-left: -3vw;
        margin-top: -0.5vh;
    }

    .imagem2 {
        margin-left: 83vw;
        margin-top: 1vh;
    }

    .e {
        position: relative;
        top: -20vh;
    }

    .Integrantesprimeiroano {
        margin-left: 5vw;
    }

    #planos {
        position: relative;
        top: -25vh;
    }

    #planosAll {
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem;
        max-width: 900px;
        padding: 0 2.5rem;
        margin: -2.5vh auto 35vh;
    }

    .btSelecAzul,
    .btSelecAzul1,
    #btBrancoSelec {
        margin-left: 4.4vw;
    }

    .plano:nth-child(3) {
        margin-left: 58.5%;
    }

    .img1 {
        margin-top: -165vh;
    }

    #contato {
        top: 10vh;
    }

    #entContat {
        width: 73vw;
        line-height: 80px;
    }

    .descriptioncontact {
        width: 63.5vw;
    }

    footer {
        bottom: -10px;
    }
}

@media (max-width: 800px) {
    .site-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        width: 100%;
        max-width: 100%;
    }

    .menu-btn {
        display: block;
        position: relative;
        right: -6vw;
        top: 0.6rem;
        font-size: 1.5rem;
    }

    .nav {
        position: absolute;
        top: 8vh;
        right: 3vw;
        background: #fff;
        border: 1px solid #ddd;
        gap: 15px;
        padding-left: 15px;
        padding-right: 15px;
        display: none;
    }

    .nav-list {
        flex-direction: column;
        padding-left: 0;
    }

    #menu-toggle:checked~.nav {
        display: flex;
    }

    #home {
        justify-content: left;
        margin-top: -30%;
        margin-left: -4.1vw;
    }

    #Bvindo {
        width: 95%;
        font-size: 8rem;
    }

    .description {
        margin-left: 9.2vw;
        width: 95%;
        font-size: 2rem;
    }

    .buttons {
        margin-left: 13vw;
    }

    #btn1Cover,
    #btn2Cover {
        width: 40vw;
        height: 10vh;
        font-size: 1.5rem;
    }

    .himage {
        opacity: 0;
    }

    #nssapp {
        margin-top: -60%;
        scroll-margin-top: -500px;
    }

    .nossoappcontent {
        margin-left: 4vw;
    }

    #Nssaplicat {
        font-size: 5.4rem;
        width: 92%;
        margin-bottom: 10%;
    }

    #nssappdescription {
        font-size: 2rem;
        width: 92%;
    }

    .patinhas {
        margin-top: -15vh;
    }

    #funcionalidades {
        margin-top: 10vh;
    }

    #Nssserv {
        font-size: 6rem;
        line-height: 6rem;
        width: 90%;
        margin: 0 auto;
    }

    .funcontent {
        width: 85%;
        margin-top: 10%;
    }

    .funcionalis {
        width: 30vw;
    }

    .iconesF {
        height: 150%;
        top: -80%
    }

    .fserv {
        margin-top: -50%;
        font-size: 1.5rem;
    }

    .fdescrip {
        font-size: 1.2rem;
    }

    .imagem1 {
        top: -62vh;
        left: -7vw;
    }

    .imagem2 {
        top: -68.5vh;
    }

    #mission {
        margin-top: -55vh;
        scroll-margin-top: -95px;
    }

    #missao {
        font-size: 6.1rem;
        margin-left: 7vw;
        width: 85%;
    }

    .missionContent>p {
        font-size: 1.9rem;
        width: 80%;
    }

    .pataMission {
        margin-top: -15vh;
        margin-left: 55vw;
    }

    .pataMissao {
        margin-top: -32vh;
        margin-left: -3vw;
    }

    .missionImg {
        opacity: 0;
    }

    #clientes {
        margin-top: 60vh;
        scroll-margin-top: 50px;
    }

    .clientesContent {
        margin-left: -2vw;
    }

    .clientesContent>h1 {
        width: 83%;
        font-size: 5.5rem;
        margin-bottom: 5vh;
    }

    .clientesContent>p {
        width: 83%;
        font-size: 1.9rem;
        margin-top: 1vh;
    }

    .pataCliente {
        margin-top: -53vh;
        margin-left: -2vw;
    }

    .logoCliente {
        opacity: 0;
    }

    #aboutUs {
        margin-top: -7vh;
    }

    .aboutUsContent {
        margin-left: 8vw;
    }

    .descriptionUs {
        font-size: 1.9rem;
    }

    .e {
        margin-top: -10vh;
    }

    .nssEquip {
        width: 100vw;
        font-size: 6rem;
        line-height: 13vw;
    }

    .subtitulo {
        font-size: 3.5rem;
        margin-top: -2vw;
    }

    .Integrantesprimeiroano {
        width: 90vw;
        margin-left: 15%;
        flex-direction: column;
    }

    .col1 {
        margin-top: 3vw;
        z-index: 10;
        margin-bottom: 12.5vh;
    }

    .col2 {
        margin-top: -680px;
        margin-left: 1%;
        z-index: 10;
    }

    .coluna1>div>div.text1 {
        margin-left: 15vw;
        top: -54.2vh;
        margin-bottom: 5.6%;
    }

    .text2 {
        margin-left: 15vw;
        top: -55.4vh;
        margin-bottom: 12%;
    }

    .patas {
        margin-top: 13%;
    }

    .patasboi1 {
        height: 40vw;
        margin-top: 14vw;
    }

    .patasboi2 {
        opacity: 0;
    }

    .patasboi4 {
        position: relative;
        height: 35vw;
        bottom: -100vw;
        left: -30vw;
    }

    .e2 {
        margin-top: -210vh;
    }

    .Integrantessegundoano {
        width: 90vw;
        margin-left: 16%;
        flex-direction: column;
        gap: 1px;
    }

    #planos {
        margin-top: -160vh;
    }

    #tbpreco {
        font-size: 2.5rem;
    }

    #escPlano {
        font-size: 5rem;
        line-height: 5rem;
        margin-top: -5%;
        margin-bottom: 10%;
    }

    #planosAll {
        grid-template-columns: 1fr;
        gap: 5%;
        max-width: 720px;
        padding: 0 7vw;
        margin: 10vw auto 50vw;
    }

    .plano {
        width: 80%;
        height: 100%;
    }

    .planoAzul {
        width: 80%;
        height: 100%;
    }

    .plano:nth-child(3) {
        margin-left: 0;
    }

    .plano>h4 {
        margin-top: 7%;
        margin-bottom: 7%;
    }

    .planoAzul>h4 {
        margin-top: 7%;
        margin-bottom: 7%;
    }

    .checks,
    .checksF {
        margin-top: 5%;
        padding-left: 5%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #btBrancoSelec {
        margin: 0 0 2% 0;
        margin-left: 29.4%;
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 1.5rem;
    }

    .btSelecAzul {
        margin: 0 0 0 0;
        margin-left: 29.4%;
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 1.5rem;
    }

    .btSelecAzul1 {
        margin: 0 0 1% 0;
        margin-left: 29.4%;
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 1.5rem;
    }

    #especific {
        margin-top: -10%;
    }

    .img1 {
        opacity: 0;
    }

    .img2 {
        opacity: 0;
    }

    #contato {
        margin-top: 90%;
    }

    #entContat {
        width: 110%;
        font-size: 6rem;
    }

    .descriptioncontact {
        width: 145%;
        font-size: 1.9rem;
    }

    .contactUs {
        margin: 0 0 0 0;
        margin-left: 49%;
        width: max-content;
    }

    #Enviar {
        font-size: 2rem;
    }

    .IconsContato {
        margin-left: 3%;
        justify-content: center;
    }

    .IconsContato>img {
        height: 70px;
    }

    .IconsContato>a>img {
        height: 65px;
    }

    .imgBoi {
        opacity: 0;
    }

    footer {
        margin-top: 20vh;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 1.5rem;
        padding: 2.5rem 1.5rem;
        height: auto;
        box-sizing: border-box;
    }

    #logoF {
        width: 15rem;
        height: 15rem;
    }

    .imagFooter {
        margin-top: 10%;
    }

    .iconesFooter {
        margin-left: 4%;
        margin-top: -6%;
    }

    .iconesFooter>img {
        width: 44px;
        height: 70px;
        margin-right: 20px;
    }

    .iconesFooter>a>img {
        width: 44px;
        height: 70px;
        margin-right: 20px;
    }

    .linksRapidos>ul>li,
    #Rapidolink,
    #contatoFooter,
    .contatoFooter>div {
        font-size: 1.5rem;
    }

    .email>img,
    .localizacao>img {
        height: 1.5rem;
    }

    .btn {
        width: 5rem;
        height: 5rem;
    }

    .btn>img {
        width: 3rem;
        height: 3rem;
    }
}

@media (max-width: 768px) {
    .nav {
        top: 70px;
        right: 3vw;
    }

    #home {
        justify-content: left;
        margin-top: 5%;
    }

    #Bvindo {
        width: 90vw;
        font-size: 13vw;
        margin-top: 10vh;
        line-height: 13vw;
        margin-left: 13vw;
    }

    .description {
        font-size: 5.3vw;
        margin-left: 13vw;
        width: 80vw;
    }

    .himage {
        opacity: 0;
    }

    .buttons {
        flex-direction: column;
        margin-top: 5vh;
        justify-content: center;
        margin-left: 11%;
    }

    .buttons>#btn1Cover,
    #btn2Cover {
        width: 75%;
        height: 10vh;
        margin-left: -10%;
        font-size: 1.2rem;
    }

    #btn1Cover {
        width: 75%;
        height: 10vh;
        margin-left: -10%;
        font-size: 1.2rem;
    }

    #nssapp {
        margin-left: 4.1vw;
        margin-top: -60%;
        scroll-margin-top: -290px;
    }

    #Nssaplicat {
        width: 100vw;
        font-size: 13vw;
        line-height: 13vw;
    }

    #nssappdescription {
        width: 80vw;
        font-size: 5.3vw;
        margin-top: -5vw;
    }

    .patinhas {
        width: 50vw;
        margin-top: -30vw;
    }

    .celular {
        margin-left: 0;
        width: 90vw;
        height: 110vw;
    }

    #funcionalidades {
        margin-top: 40%;
        scroll-margin-top: 125px;
    }

    #Nssserv {
        width: 100vw;
        font-size: 13vw;
        line-height: 13vw;
    }

    .funcionalis {
        width: 68%;
        height: 100%;
    }

    .iconesF {
        margin-top: 2%;
        width: 3.7rem;
    }

    .funcontent {
        grid-template-columns: 1fr;
        margin: 15% 0 0 0;
        margin-left: 20%;
        gap: 10%;
    }

    .fserv {
        color: #18a4e1;
        font-weight: 300;
        font-size: 1.2rem;
        padding-left: 2vw;
        padding-top: 1.3vw;
    }

    .fdescrip {
        font-size: 3.4vw;
    }

    .imagem1 {
        opacity: 0;
    }

    .imagem2 {
        opacity: 0;
    }

    #mission {
        margin-top: -70%;
    }

    #missao {
        width: 85%;
        font-size: 13vw;
        margin-left: 10.2vw;
        line-height: 13vw;
    }

    .missionContent>p {
        font-size: 5.3vw;
        margin-top: 2vh;
        padding: 0 1vw;
    }

    .missiondescription {
        width: 85%;
    }

    .pataMission {
        opacity: 0;
    }

    .pataMissao {
        opacity: 0;
    }

    #clientes {
        margin-top: -80%;
        scroll-margin-top: 25px;
    }

    .clientesContent>h1 {
        width: 85%;
        font-size: 13vw;
        margin-left: 12.2vw;
        line-height: 13vw;
        margin-bottom: -2vh;
    }

    .clientesContent>p {
        width: 85%;
        font-size: 5.3vw;
        margin: 0 auto;
        padding: 0 12.2vw;
        margin-top: 5vh;
    }

    .logoCliente {
        opacity: 0;
    }

    .pataCliente {
        opacity: 0;
    }

    #aboutUs {
        margin-top: -35%;
        scroll-margin-top: 125px;
    }

    #Sobrenos {
        width: 85%;
        font-size: 13vw;
        line-height: 13vw;
        margin-bottom: -50vh;
        margin-left: 7%;
    }

    .aboutUsContent {
        flex-direction: column-reverse;
        justify-content: center;
        margin-top: 55vh;
    }

    .descriptionUs {
        width: 85%;
        font-size: 5.3vw;
        margin-top: 5vh;
    }

    .foto {
        width: 85%;
        height: auto;
    }

    .e {
        margin-top: 5%;
    }

    .nssEquip {
        width: 85%;
        font-size: 13vw;
        line-height: 13vw;
        margin-left: 7%;
    }

    .subtitulo {
        font-size: 7vw;
        margin-top: -2vw;
    }

    .Integrantesprimeiroano {
        width: 85%;
        margin-left: 10%;
        flex-direction: column;
    }

    .col1 {
        margin-top: 10px;
        z-index: 10;
    }

    .col2 {
        margin-top: -575px;
        margin-left: 1%;
        z-index: 10;
    }

    .text1>.nome {
        position: relative;
        left: 15vw;
        top: -145px;
        margin-bottom: 30px;
    }

    .Integrantesprimeiroano>.coluna1>div>.text1>.nome {
        margin-bottom: 22px;
    }

    .Integ4 {
        margin-bottom: -50px;
    }

    .text2 {
        position: relative;
        margin-bottom: 85px;
        margin-left: 30vw;
        top: -570px;
    }

    .descInt {
        opacity: 0;
    }

    .patasboi1 {
        height: 40vw;
        margin-top: -7vw;
    }

    .patasboi2 {
        opacity: 0;
    }

    .patasboi3 {
        opacity: 0;
    }

    .patasboi4 {
        position: relative;
        height: 35vw;
        bottom: -80vw;
        left: -20vw;
    }

    .e2 {
        margin-top: -430%;
    }

    .Integrantessegundoano {
        width: 90vw;
        margin-left: 10%;
        flex-direction: column;
        gap: 1px;
    }

    #planos {
        scroll-margin-top: 145px;
    }

    #tbpreco {
        font-size: 5.3vw;
    }

    #escPlano {
        font-size: 13vw;
        line-height: 13vw;
        margin-top: 1vw;
    }

    #planosAll {
        grid-template-columns: 1fr;
        gap: 5vw;
        max-width: 720px;
        padding: 0 7vw;
        margin: 10vw auto 50vw;
    }

    #especific {
        margin-top: -15%;
    }

    .checks,
    .checksF {
        padding-left: 5%;
        display: flex;
        flex-wrap: wrap;
    }

    .plano,
    .planoAzul {
        width: 19rem;
        height: 30rem;
    }

    .btSelecAzul,
    .btSelecAzul1 {
        margin-top: 2.5vh;
        margin-left: 3.3vw;
        width: 12.5rem;
        height: 3rem;
        font-size: 1.1rem;
    }

    .btSelecAzul1 {
        margin-top: 10vh;
    }

    .btSelecAzul {
        margin-top: 6vh;
    }

    #btBrancoSelec {
        margin-top: 10vh;
        margin-left: 3.3vw;
        width: 12.5rem;
        height: 3rem;
        font-size: 1.1rem;
    }

    .btSelecAzul,
    .btSelecAzul1,
    #btBrancoSelec {
        margin-left: 16%;
        margin-bottom: -60%;
    }

    .img1 {
        opacity: 0;
    }

    .img2 {
        opacity: 0;
    }

    #contato {
        margin-top: 75%;
        scroll-margin-top: -40px;
    }

    .imgBoi {
        opacity: 0;
    }

    #entContat {
        width: 80%;
        font-size: 13vw;
        line-height: 13vw;
        margin-bottom: 6vw;
    }

    .descriptioncontact {
        width: 80%;
        font-size: 5.3vw;
        margin-bottom: 62%;
    }

    .link {
        margin-top: -20%;
        width: 100vw;
        height: max-content;
    }

    #Enviar {
        width: 40%;
        height: 2%;
        font-size: 1.2rem;
        margin-bottom: 30px;
        margin: 0 0 0 -47.7%;
    }

    .IconsContato {
        position: relative;
        transform: translateX(-50%);
        top: 8vh;
        width: max-content;
        gap: 13vw;
        display: flex;
        padding: 0;
        margin: 0 0 0 50%;
    }

    .IconsContato>a>img,
    .IconsContato>img {
        height: 20%;
    }

    .btn {
        bottom: 3vh;
        right: -10%;
        width: 60px;
        height: 60px;
    }

    .btn>img {
        width: 30px;
        height: 35px;
    }

    footer {
        margin-top: 25%;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 1.5rem;
        padding: 2.5rem 1.5rem;
        height: auto;
        box-sizing: border-box;
    }
}

@media (max-width: 428px) {
    #home {
        margin-top: 15%;
    }
}

@media (max-width: 412px) {
    .Integrantesprimeiroano {
        width: 85%;
        margin-left: 8%;
        flex-direction: column;
    }

    .col1 {
        margin-top: 10px;
        height: 30rem;
        z-index: 10;
    }

    .col2 {
        margin-top: -555px;
        margin-left: 1%;
        z-index: 10;
        height: 21.5rem;
    }

    .text1>.nome {
        position: relative;
        left: 15vw;
        top: -110px;
        margin-bottom: 29px;
        font-size: 1.4rem;
    }

    .Integrantesprimeiroano>.coluna1>div>.text1>.nome {
        margin-bottom: 21px;
    }

    .Integ4 {
        margin-bottom: -50px;
    }

    .text2>.nome {
        position: relative;
        margin-bottom: -13px;
        margin-left: 2vw;
        top: 25px;
        font-size: 1.4rem;
    }

    .descInt {
        opacity: 0;
    }

    .patasboi1 {
        height: 40vw;
        margin-top: -7vw;
    }

    .patasboi2 {
        opacity: 0;
    }

    .patasboi3 {
        opacity: 0;
    }

    .patasboi4 {
        position: relative;
        height: 35vw;
        bottom: -80vw;
        left: -20vw;
    }

    .Integrantessegundoano {
        width: 90vw;
        margin-left: 7%;
        flex-direction: column;
        gap: 1px;
    }
}

@media (max-width: 393px) {
    .fserv {
        margin-top: -120px;
    }

    .Integrantesprimeiroano {
        width: 85%;
        margin-left: 8%;
        flex-direction: column;
    }

    .col1 {
        margin-top: 10px;
        height: 30rem;
        z-index: 10;
    }

    .col2 {
        margin-top: -540px;
        margin-left: 1%;
        z-index: 10;
        height: 21.5rem;
    }

    .text1>.nome {
        position: relative;
        left: 15vw;
        top: -132px;
        margin-bottom: 29px;
        font-size: 1.4rem;
    }

    .Integrantesprimeiroano>.coluna1>div>.text1>.nome {
        margin-bottom: 21px;
    }

    .Integ4 {
        margin-bottom: -50px;
    }

    .text2>.nome {
        position: relative;
        margin-bottom: -13px;
        margin-left: 2vw;
        top: 40px;
        font-size: 1.4rem;
    }

    .descInt {
        opacity: 0;
    }

    .patasboi1 {
        height: 40vw;
        margin-top: -7vw;
    }

    .patasboi2 {
        opacity: 0;
    }

    .patasboi3 {
        opacity: 0;
    }

    .patasboi4 {
        position: relative;
        height: 35vw;
        bottom: -80vw;
        left: -20vw;
    }

    .e2 {
        margin-top: -430%;
    }

    .Integrantessegundoano {
        width: 90vw;
        margin-left: 7%;
        flex-direction: column;
        gap: 1px;
    }
}

@media (max-width: 391px) {
    .fserv {
        margin-top: -120px;
    }

    .Integrantesprimeiroano {
        width: 85%;
        margin-left: 8%;
        flex-direction: column;
    }

    .col1 {
        margin-top: 10px;
        height: 30rem;
        z-index: 10;
    }

    .col2 {
        margin-top: -530px;
        margin-left: 1%;
        z-index: 10;
        height: 21.5rem;
    }

    .text1>.nome {
        position: relative;
        left: 15vw;
        top: -158px;
        margin-bottom: 29px;
        font-size: 1.4rem;
    }

    .Integrantesprimeiroano>.coluna1>div>.text1>.nome {
        margin-bottom: 21px;
    }

    .Integ4 {
        margin-bottom: -50px;
    }

    .text2>.nome {
        position: relative;
        margin-bottom: -13px;
        margin-left: 2vw;
        top: 50px;
        font-size: 1.4rem;
    }

    .descInt {
        opacity: 0;
    }

    .patasboi1 {
        height: 40vw;
        margin-top: -7vw;
    }

    .patasboi2 {
        opacity: 0;
    }

    .patasboi3 {
        opacity: 0;
    }

    .patasboi4 {
        position: relative;
        height: 35vw;
        bottom: -80vw;
        left: -20vw;
    }

    .e2 {
        margin-top: -430%;
    }

    .Integrantessegundoano {
        width: 90vw;
        margin-left: 7%;
        flex-direction: column;
        gap: 1px;
    }
}

@media (max-width: 360px) {
    #btn1Cover {
        font-size: 1.2rem;
    }

    #nssapp {
        margin-top: -60%;
    }

    .fserv {
        margin-top: -55%;
    }

    #mission {
        margin-top: -70%;
    }

    #clientes {
        margin-top: -90%;
    }

    #aboutUs {
        margin-top: -50%;
    }

    .Integrantesprimeiroano {
        width: 85%;
        margin-left: 8%;
        flex-direction: column;
    }

    .col1 {
        margin-top: 10px;
        height: 30rem;
        z-index: 10;
        height: 26rem;
    }

    .col2 {
        margin-top: -470px;
        margin-left: 1%;
        z-index: 10;
        height: 18.3rem;
    }

    .text1>.nome {
        position: relative;
        left: 15vw;
        top: -93px;
        margin-bottom: 22px;
        font-size: 1.2rem;
    }

    .Integrantesprimeiroano>.coluna1>div>.text1>.nome {
        margin-bottom: -3px;
    }

    .text2>.nome {
        position: relative;
        margin-bottom: -23px;
        margin-left: 2vw;
        top: 110px;
        font-size: 1.2rem;
    }

    .e2 {
        margin-top: -460%;
    }

    .Integrantessegundoano {
        width: 90vw;
        margin-left: 7%;
        flex-direction: column;
        gap: 1px;
    }

    #planos {
        margin-top: -360%;
    }
}

@media (max-width: 320px) {
    #home {
        margin-top: 15%;
    }

    .fserv {
        margin-top: -60%;
        padding-left: 0;
    }

    #mission {
        margin-top: -120%;
    }

    #clientes {
        margin-top: -140%;
    }

    #aboutUs {
        margin-top: -100%;
    }

    .Integrantesprimeiroano {
        width: 85%;
        margin-left: 6%;
        flex-direction: column;
    }

    .Integrantessegundoano {
        width: 90vw;
        margin-left: 6%;
        flex-direction: column;
        gap: 1px;
    }

    .text1>.nome {
        position: relative;
        left: 15vw;
        top: -190px;
        margin-bottom: 22px;
        font-size: 1.2rem;
    }

    .Integrantesprimeiroano>.coluna1>div>.text1>.nome {
        margin-bottom: -3px;
    }

    .col2 {
        margin-top: -435px;
        margin-left: 1%;
        z-index: 10;
        height: 18.3rem;
    }

    .text2>.nome {
        position: relative;
        margin-bottom: -23px;
        margin-left: 2vw;
        top: 140px;
        font-size: 1.2rem;
    }

    #planos {
        margin-top: -330%;
    }

    #contato {
        margin-top: 10%;
    }

    footer {
        margin-top: 30%;
    }

    .email>p,
    .localizacao>p {
        font-size: 1.2rem;
    }
}