html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    top: 0;
    padding: 0;
    font-family: 'Poppins', serif;
    font-weight: 100;
    width: 100%;
    overflow-x: hidden;   
}


.site-header {
    position: fixed;
    width: 100%;
    margin-top: 20px;
    background-color: white;
    opacity: 0.9;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    z-index: 1000; 
}

.is-active{
    font-size: 20px;
}

.brand {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #1d3750; 
    white-space: nowrap;
}

.nav {
    margin-left: 650px;
    margin-top: 30px;
    color: #000;
    font-size: 20px;
    display: flex;
    gap: 40px; 
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 50px; 
    list-style: none;
    margin: 0;
    padding: 0;

}

.nav-list a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-family: Arial;
    font-size: 22px;
    font-weight: lighter;
    color: #111;
    transition: color .2s ease;
}

.logo{
    margin-top: 30px;
    width: 82.748px;
    height: 80.198px;
    color: #043253;
    font-size: 25px;
    font-weight: 500px;
    display: flex;
    gap: 16px;
}

.logo>img {
    margin-bottom: 10px;
    margin-left: 140px;
}

.logo> .brand {  
    margin-top: 28%;
}

main {
    margin-top: -30px;
}

.nav-list  li {
    cursor: pointer;
    width: max-content;
    position: relative;
}


.nav-list li::after{
    content: "";
    position: absolute;
    left: -10%;
    bottom: 0;
    height: 3px;
    width: 120%;
    background-color: darkgray;
    transform:scaleX(0);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.nav-list li::before{
    content: "";
    position: absolute;
    left: -10%;
    bottom: 0;
    height: 3px;
    width: 120%;
    background:#0CC0DF;
    transform:scaleX(0);
    transform-origin: center;
    transition: transform 0.5s ease;
}

#funcionalidades, #aboutUs{
    scroll-margin-top: 85px;
}

#planos{
    scroll-margin-top: 95px;
}

#contato{
    scroll-margin-top: 10px;
}


#Bvindo{
    margin-top: 180px;
    width: 523px;
    position: relative;
    font-size: 90px;
    color: #000;
    text-align: left;
    display: inline-block;
    font-weight: lighter;
    margin-left: 141.6px;
}

.zetaHighlight{
    font-weight: 500;
    color: #043253;
}
.hcontent>.subtitle{
    width: 523px;
    position: relative;
    font-size: 90px;
    color: #000;
    text-align: left;
    font-weight: lighter;
    margin-left: 141.6px;
    margin-top: -120px;
    margin-bottom: 0;
}

.description{
    width: 612px;
    height: 90;
    position: relative;
    font-size: 20px;
    color: #000;
    text-align: left;
    display: inline-block;
    font-weight: lighter;
    margin-left: 141.6px;
    margin-top: 150x;
}

#home{
    display: flex;
}

.mainImg {
    margin-top: 185px;
    margin-left: 30%;
    position: relative;
}


.himg2 {
    position: absolute;
    top: 110px;
    left: 825px;
}


.buttons{
    position: absolute;
    display: flex;
    margin-top: 20px;
}

#btn1Cover{

    text-align: center;
    background-color: #043253;
    margin-right: 28px;
    margin-left: 141.6px;
    border-radius: 20px;
    height: 70px;
    width: 180px;
    transition: 0.5s;
    cursor: pointer;
}

#btn1Cover:hover{
    background-color: #0077B6;
    border: #0077B6;
}


.btn1{ 
    transform: translateX(10%);
    text-align: center;
    text-decoration: none;
    color: #f6f7ff;
}


#btn2Cover{
    text-align: center;
    margin-left: 3px;
    border-radius: 20px;
    height: 68px;
    border: 2px solid #18a4e1;
    width: 180px;
    background-color: white;
}

.btn2{
    margin-top: 40%;
    text-align: center;
    text-decoration: none;
    color: #18a4e1;
}

@media (max-width: 1200px) {
    .container {
        flex-direction: column;
        gap: 20px;
    }

    .logo {
        margin-left: 0;
    }

    .nav{
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
        margin-right: 90%;
    }

    #Bvindo, .hcontent > .subtitle, .description {
        text-align: center;
        margin-left: 0;
    }

    .mainImg {
        margin-left: 0;
        margin-top: 20px;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        position: static;
        margin-top: 20px;
    }

    #btn1Cover, #btn2Cover {
        margin-left: 0;
    }

    .btn1, .btn2 {
        position: static;
        margin: 0 auto;
    }
}

#Nssaplicat{
    width: 800px;
    font-size: 75px;
    color: #043253;
    text-align: left;
    display: inline-block;
    font-weight: lighter;
    margin-left: 141.6px;
    margin-top: 250px;
    margin-bottom: 2px;
}

#nssappdescription{
    padding-top: 2px;
    width: 680px;
    font-size: 30px;
    color: #000;
    text-align: left;
    font-weight: lighter;
    margin-left: 141.6px;
    margin-top: 5px;
}

.celular{
    margin-left: 900px;
    height: 650px;
    margin-top: -450px;

}


.funcionali{
    transform: translateY(-45%);
    margin-left: 840px;
    height: 400px;
    margin-bottom: 10px;
    margin-top: -800px;
}

.patinhas{
    margin-top: -680px;
}

#funcionalidades{
    width: 100%;
}

.nossoservico{
    margin-top: 100px;
}

.funcionalis{
    border: #18a4e1 4px solid;
    border-radius: 30px;
    width: 280px;
    height: 150px;
    padding: 10px;
    padding-left: 30px;
    margin-bottom: 50px;
}

.fserv{
    margin-top: 10px;
    color: #18a4e1;
    font-weight: 300;
    font-size: 20px;
}

.fdescrip{
    font-weight: lighter;
    margin-top: -15px;
}

#Nssserv{
    transform: translateX(0%);
    width: 100%;
    font-size: 60px;
    color: #043253;
    text-align: center;
    font-weight: lighter;
    margin-top: 135px;
}

.funcontent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 160px;
    margin-top: 60px;
    margin-bottom: 200px;
}
.imagem1{
    margin-left: -20px;
    margin-top: -720px;
}

.imagem2{
    margin-left: 1380px;
    margin-top: -100px;
}

.iconesF{
    margin-top: -50px;
}

.nssEquip{
    transform: translateX(-2%);
    width: 100%;
    font-size: 60px;
    color: #043253;
    text-align: center;
    font-weight: lighter;
    margin-top: 400px;
}

.subtitulo{
    transform: translateX(-2%);
    text-align: center;
    margin-top: -30px;
    width: 100%;
    color: #0CC0DF;
    font-size: 20px;
}

#C{
    width: 100%;
}

#aboutUs{
    width: 100%;
}


#Sobrenos{
    transform: translateX(0%);
    width: 100%;
    font-size: 80px;
    color: #043253;
    text-align: center;
    font-weight: lighter;
    margin-top: 150px;
}

.descriptionUs{
    width: 650px;
    font-size: 25px;
    color: #043253;
    text-align: left;
    display: inline-block;
    font-weight: lighter;
    margin-left: 141.6px;
    margin-top: 40px;
    margin-bottom: 80px;
}

.foto > img{
    width: 500px;
    height: 400px;
    margin-left: 850px;
    margin-top: -400px;
    border-radius: 50px;
}

.equipeContent{
    width: 100%;
}

.e{
    margin-top: -150px
}
.Integrantesprimeiroano, .Integrantessegundoano{
    position: absolute;
    font-size: 20px;
    color: #000;
    text-align: left;
    display: inline-block;
    font-weight: lighter;
    margin-left: 141.6px;
}

.Integ1{
    position: absolute;
    width: 350px;
    top: -8px;
    margin-left: 120px;
}

.Integ1 > .nome{
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 10px;
    color: #0077B6;
    transition: 0.4s;
    cursor: pointer;
}

.Integ1 > .nome:hover{
    color: #0CC0DF;
}

.Integ1 > .descInt{
    margin-top: 10px;
    font-weight: lighter;
    font-size: 12px;
}

.Integ2{
    position: absolute;
    width: 350px;
    top: 100px;
    margin-left: 120px;
}

.Integ2 > .nome{
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 10px;
    color: #0077B6;
    transition: 0.4s;
    cursor: pointer;
}

.Integ2 > .nome:hover{
    color: #0CC0DF;
}

.Integ2 > .descInt{
    margin-top: 10px;
    font-weight: lighter;
    font-size: 12px;
}

.Integ3{
    position: absolute;
    width: 350px;
    top: 205px;
    margin-left: 120px;
}

.Integ3 > .nome{
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 10px;
    color: #0077B6;
    transition: 0.4s;
    cursor: pointer;
}

.Integ3 > .nome:hover{
    color: #0CC0DF;
}

.Integ3 > .descInt{
    margin-top: 10px;
    font-weight: lighter;
    font-size: 12px;
}

.Integ4{
    position: absolute;
    width: 350px;
    top: 310px;
    margin-left: 120px;
}

.Integ4 > .nome{
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 10px;
    color: #0077B6;
    transition: 0.4s;
    cursor: pointer;
}

.Integ4 > .nome:hover{
    color: #0CC0DF;
}

.Integ4 > .descInt{
    margin-top: 10px;
    font-weight: lighter;
    font-size: 12px;
}


.Integ5{
    position: absolute;
    width: 350px;
    top: -8px;
    margin-left: 900px;
}

.Integ5 > .nome{
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 10px;
    color: #0077B6;
    transition: 0.4s;
    cursor: pointer;
}

.Integ5 > .nome:hover{
    color: #0CC0DF;
}

.Integ5 > .descInt{
    margin-top: 10px;
    font-weight: lighter;
    font-size: 12px;
}

.Integ6{
    position: absolute;
    width: 350px;
    top: 100px;
    margin-left: 900px;
}

.Integ6 > .nome{
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 10px;
    color: #0077B6;
    transition: 0.4s;
    cursor: pointer;
}

.Integ6 > .nome:hover{
    color: #0CC0DF;
}

.Integ6 > .descInt{
    margin-top: 10px;
    font-weight: lighter;
    font-size: 12px;
}

.Integ7{
    position: absolute;
    width: 350px;
    top: 208px;
    margin-left: 900px;
}

.Integ7 > .nome{
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 10px;
    color: #0077B6;
    transition: 0.4s;
    cursor: pointer;
}

.Integ7 > .nome:hover{
    color: #0CC0DF;
}

.Integ7 > .descInt{
    margin-top: 10px;
    font-weight: lighter;
    font-size: 12px;
}


.patasboi1{
    height: 280px;
    margin-top: -30px;
}

.patasboi2{
    height: 250px;
    margin-left: 400px;
}

.patasboi3{
    margin-left: 1400px;
    margin-top: -500px;
    margin-bottom: 200px;
}

.patasboi4{
    margin-left: 1380px;
    margin-top: -20px;
}

.col1{
    height: 400px;
}


.col2{
    margin-bottom: 100px;
    margin-left: 700px;
    height: 300px;
}



#mission{
    margin-bottom:400px;
}

.missionContent > h1{
    width: 800px;
    font-size: 90px;
    color: #043253;
    text-align: left;
    display: inline-block;
    font-weight: lighter;
    margin-left: 141.6px;
    margin-top: 200px;
    margin-bottom: 2px;
}

.missionContent > p{
    width: 760px;
    font-size: 25px;
    color: #043253;
    text-align: left;
    display: inline-block;
    font-weight: lighter;
    margin-left: 141.6px;
    margin-top: 20px;
    margin-bottom: 200px;
}

.missionImg{
    margin-left: 1000px;
    margin-top: -500px;
}

.pataMission{
    margin-left: 1200px;
    margin-top: -180px;
    height: 80px;
}

.pataMissao{
    margin-left: 40px;
    margin-top: -300px;
}

.clientesContent > h1{
    width: 800px;
    font-size: 90px;
    color: #043253;
    text-align: left;
    display: inline-block;
    font-weight: lighter;
    margin-left: 141.6px;
    margin-top: 200px;
    margin-bottom: 2px;
}

.clientesContent > p{
    width: 800px;
    font-size: 25px;
    color: #043253;
    text-align: left;
    display: inline-block;
    font-weight: lighter;
    margin-left: 141.6px;
    margin-top: 10px;
}

.pataCliente{
    margin-left: 40px;
    margin-top: -470px;
}

.logoCliente{
    margin-left: 1000px;
    margin-top: -100px;
}



#planos{
    width: 100%;
    margin-top: 200px;
}

.check{
    margin-top: -5px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

.check > img{
    width: 20px;
    height: 20px;
}

#tbpreco{
    margin-top: 100px;
    transform: translateX(0%);
    text-align: center;
    color: #000;
    font-weight: lighter;
    font-size: 20px;

}

#escPlano{
    transform: translateX(0%);
    text-align: center;
    color: #043253;
    font-weight: lighter;
    font-size: 50px;
    margin-top: -30px;
}

#planosAll{
    margin-top: -20px;
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 100px;
}



.plano{
    border: #0077B6 2px solid;
    border-radius: 50px;
    width: 300px;
    height: 480px;
    transition: 0.8s;
    cursor: pointer;
}

.plano:hover{
    transform: scale(1.05);
    border: #0CC0DF 2px solid;
}



.plano > h4,h1{
    text-align: center;
}

.plano > h4{
    margin-top: 35px;
    font-weight: lighter;
    color: #043253;
}

.plano > h1{
    font-weight: 400;
    margin-top: -25px;
    color: #0077B6;
    font-size: 55px;
}

.checks{
    margin-top: -30px;
}

.planoAzul{
    width: 300px;
    height: 480px;
    border-radius: 50px;
    background-color: #18a4e1;
    transition: 0.8s;
    cursor: pointer;
}
.planoAzul:hover{
    transform: scale(1.05);
}

.planoAzul > h4,h1{
    text-align: center;
}

.plano > p{
    margin-left: 20px;
    font-size: 15px;
    align-items: center;

}

.planoAzul{
    border: #18a4e1 2px solid;
    border-radius: 50px;
    width: 300px;
    height: 480px;
}

.planoAzul > h4,h1{
    text-align: center;
}

.planoAzul > img{
    vertical-align: middle;
}

.planoAzul > h4{
    margin-top: 35px;
    font-weight: lighter;
    color: black;
}

.planoAzul > h1{
    font-weight: 400;
    margin-top: -25px;
    color: white;
    font-size: 55px;
}

.planoAzul > p{
    color: white;
    margin-left: 20px;
    font-size: 15px;
    align-content: center;
    vertical-align: middle;
}



#especific{
    font-size: 12px;
    color: #0CC0DF;
    text-align: center;
    margin-top: -50px;
    margin-left: -8px;
}

.btSelecAzul, .btSelecAzul1{
    margin-top: 20px;
    margin-left: 50px;
    width: 200px;
    background-color: #18a4e1;
    border: #18a4e1 2px solid;
    color: white;
    border-radius: 25px;
    height: 45px;
    font-size: 18px;
    font-weight: lighter;
    font-family: 'Poppins', serif;
    transition: 0.5s;
    cursor: pointer;
}

.btSelecAzul1:hover{
    background-color: #043253;
    border-color: #043253;
}
.btSelecAzul:hover{
    background-color: #043253;
    border-color: #043253;
}

.btSelecAzul1{
    margin-top: 65px;
}

#btBrancoSelec{
    margin-top: 25px;
    margin-left: 50px;
    width: 200px;
    background-color: white;
    border: white 2px solid;
    color: #0077B6;
    border-radius: 25px;
    height: 45px;
    font-size: 18px;
    font-weight: lighter;
    font-family: 'Poppins', serif;
    transition: 0.5s;
    cursor: pointer;
}

#btBrancoSelec:hover{
    background-color: #e7e7e7;
    border-color: #e7e7e7;
}


.img1{
    margin-left: 1320px;
    margin-top: -700px;
}

.img2{
    margin-left: -15px;
}




#entContat{
    width: 800px;
    font-size: 75px;
    color: #043253;
    text-align: left;
    display: inline-block;
    font-weight: lighter;
    margin-left: 141.6px;
    margin-top: 100px;
    margin-bottom: 2px;
}

.descriptioncontact{
    padding-top: 2px;
    width: 700px;
    font-size: 18px;
    color: #000;
    text-align: left;
    font-weight: lighter;
    margin-left: 141.6px;
    margin-top: 5px;
}

.contactUs{
    height: 90;
    position: relative;
    font-size: 25px;
    text-align: left;
    font-weight: lighter;
    margin-left: 141.6px;
    margin-top: 5px;
}

.contactUs > #nomeContato{
    display: flex;
    gap: 10px;
    width: 620px;
    border: #0077B6 solid 2px;
    border-radius: 25px;
    padding: 6px;
    padding-left: 40px;
    align-items: center;
}

.contactUs > #emailContato{
    display: flex;
    gap: 10px;
    width: 620px;
    margin-top: 25px;
    border: #0077B6 solid 2px;
    border-radius: 25px;
    padding: 6px;
    padding-left: 40px;
    margin-bottom: 30px;
    text-decoration: none;
    color: #000;
    align-items: center;
}

.contactUs > label{
    padding-top: 5px;
}

.main{
    max-width:100%;
}


input {
    border: 0px;
    padding: 10px;
    font-size: 20px;
    color: #333;
    outline: none;
    font-family: 'Poppins', serif;
}


.IconsContato{
    width: 750px;
    height: 90;
    position: relative;
    font-size: 28px;
    text-align: left;
    font-weight: lighter;
    margin-left: 141.6px;
    margin-top: 40px;
    position: absolute;
    display: flex;
    margin-bottom: 20px;
}


#zap{
    margin-right: 75px;
    margin-bottom: 20px;
}

#email{
    margin-top: 3px;
    margin-right: 75px;
    margin-bottom: 20px;
}

#insta{
    margin-top: 3px;
    margin-bottom: 20px;
}


#Enviar{
    background-color: #0077B6;
    color: white;
    width: 310px;
    padding: 8px;
    border-radius: 30px;
    border: #0077B6 solid;
    font-size: 30px;
    font-weight: lighter;
    font-style: initial;
    font-family: 'Poppins', serif;
    letter-spacing: 2px;
    transition: 0.5s;
    cursor: pointer;
}

#Enviar:hover{
    background-color: #043253;
    border: #043253 solid;
    color: rgb(227, 226, 226);
}

.boizao{
    margin-left: 1010px;
    margin-top: -355px;
}

.patadoboi{
    margin-left: 800px;
    margin-top: -600px;
    margin-bottom: 200px;
    height: 400px;
    width: 500px;
} 

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 40px;
    right: 10px;
    width: 60px;
    height: 60px;
    background-color: white;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.415);
    border-radius: 50px;
    text-decoration: none;
    margin-right: 80px;
}

.btn > img{
    width: 30px;
}

.btn:hover{
    background-color: rgb(239, 239, 239);
}


footer{
    background-color: #043253;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 400px;
    margin-top: 100px;
}

#logoF{
    margin-top: 30px;
    margin-left: 5px;
    height: 180px;
    width: 180px;
}

.iconesFooter> img{
    width: 44px;
    height: 40px;
    margin-right: 20px;
}

#Rapidolink, #contatoFooter{
    color: white;
    font-weight: 500;
    font-size: 20px;
    margin-top: 70px;
}

ul{
    list-style-type: none;
}

.linksRapidos > ul > li > a{
    color: #D3DDE6;
    
}

.linksRapidos > ul > li{
    margin-bottom: 8px;
}

.linksRapidos > ul{
    margin-left: -40px;
}

.linksRapidos{
    margin-left: -10px;
}

.email{
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
}

.localizacao{
    padding-left: 2px;
    display: flex;
    gap: 12px;
    align-items: center;
    color: white;
}





